<!DOCTYPE html>
<html>
<head>
    <title>Pocket Balance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- styles -->
    <link href="/css/styles.css" rel="stylesheet"/>
    <link href="/css/custom.css" rel="stylesheet"/>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div data-th-include="header :: content"></div>

<div class="page-content">
    <div class="row">
        <div data-th-include="menu :: content"></div>

        <div class="col-md-10" id="root">
            <div class="content-box-large">
                <div class="row">
                    <div class="col-md-10">
                        <div class="panel-heading">
                            <div class="panel-title"><b>Entries</b></div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped entries"></table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<footer data-th-include="footer :: content"></footer>-->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/bootstrap/js/bootstrap.min.js"></script>

<script src="/vendors/moment/2-9-0/moment-with-locales.js"></script>

<!--bootstrap-datetimepicker-->
<link href="/vendors/bootstrap-datetimepicker/4-15-35/bootstrap-datetimepicker.css" rel="stylesheet"/>
<script src="/vendors/bootstrap-datetimepicker/4-15-35/bootstrap-datetimepicker.js"></script>
<!--dataTables-->
<link href="/vendors/datatables/dataTables.bootstrap.css" rel="stylesheet" media="screen"/>
<script src="/vendors/datatables/js/1.10.15/jquery.dataTables.min.js"></script>
<script src="/vendors/datatables/dataTables.bootstrap.js"></script>
<!--number formats-->
<script src="/vendors/openexchangerates/accounting.min.js"></script>
<!--React-->
<script src="/react/react.js"></script>
<script src="/react/react-dom.js"></script>
<script src="/react/browser.min.js"></script>
<!--Custom-->
<script src="/js/commons/accounts.category.mapping.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/entries.table.js"></script>

</body>
</html>