<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pocket Balance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- styles -->
    <link href="../static/css/styles.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div data-th-fragment="content">

    <div class="col-md-2">
        <div class="sidebar content-box" style="display: block;">
            <ul class="nav">
                <!-- Main menu -->
                <li data-th-classappend="${#httpServletRequest.getRequestURI() == '/home' ? 'current':''}"><a href="/home"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                <li data-th-classappend="${#httpServletRequest.getRequestURI() == '/accounting' ? 'current':''}"><a href="/accounting"><i class="glyphicon glyphicon-briefcase"></i> Business Transaction</a></li>
                <li data-th-classappend="${#httpServletRequest.getRequestURI() == '/balance' ? 'current':''}"><a href="/balance"><i class="glyphicon glyphicon-list-alt"></i> Balance sheet</a></li>
                <li data-th-classappend="${#httpServletRequest.getRequestURI() == '/entity' ? 'current':''}"><a href="/entry"><i class="glyphicon glyphicon-list-alt"></i> entry</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-usd"></i> Profit and Loss</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-stats"></i> Statistics</a></li>
                <li class="submenu">
                    <a href="#">
                        <i class="glyphicon glyphicon-cog"></i> Settings
                        <span class="caret pull-right"></span>
                    </a>
                    <!-- Sub menu -->
                    <ul>
                        <li data-th-classappend="${#httpServletRequest.getRequestURI() == '/setting/account' ? 'current':''}"><a href="/setting/account">Accounts</a></li>
                        <li data-th-classappend="${#httpServletRequest.getRequestURI() == '/setting/transaction' ? 'current':''}"><a href="/setting/transaction">Business Transactions</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../static/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/js/custom.js"></script>

</body>
</html>